<!Doctype>
<html lang="en">
    <head>
        <title>test</title>
        <meta charset="UTF-8">
        <style>
            .center {
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>数据结构课设</h1>
            <hr>
            <p>(我第一次使用该系统)</p>
            <h3>注册模块</h3>
            <form action="/register" method="POST">
                your user-id: <input type="number" name="id"><br><br>
                your password: <input type="password" name="pwd"><br><br>
                your name: <input type="text" name="name"><br><br>
                your class-id:<input type="number" name="class_id"><br><br>
                <input type="submit" value="注册"><br><br>
            </form>
            <hr>
            <p>(我已注册过，有自己的id和password)</p>
            <h3>登陆模块</h3>
            <form action="/login" method="POST">
                your user-id: <input type="number" name="id"><br><br>
                your password: <input type="password" name="pwd"><br><br>
                <input type="submit" value="登陆"><br><br>
            </form>
        </div>
    </body>
</html>

